In [8]:
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import numpy as np
import pandas as pd

In [9]:
df=pd.read_csv('Churn_Modelling.csv')
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Prepossing The Data

In [10]:
# Drop The Columns Which Are Unique For All Users Like RowNumbeR, CustomerId, Surname :
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
# Convert Categorical Columns Like Geography & Gender Into Numeric :
le_gender=LabelEncoder() # for Gender Column, Since It Has Only 2 Categories
df['Gender']=le_gender.fit_transform(df['Gender'])

# For Geography Column, Since It Has 3 Categories, We Will Use OneHotEncoding :
one_hot_encoder_geo=OneHotEncoder()
geo_encoder=one_hot_encoder_geo.fit_transform(df['Geography'].values.reshape(-1,1))
geo_encoder=pd.DataFrame(geo_encoder.toarray(),columns=['France','Germany','Spain'])
df=pd.concat([df,geo_encoder],axis=1)
df=df.drop(['Geography'],axis=1) # Drop The Original Geography Column
df.head(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
# Save The Encoded Data In Pickle File :
with open('lable_Encoding_gender.pkl','wb') as file:
    pickle.dump(le_gender,file)
    
with open('One_Hot_Encoding_Geography.pkl','wb') as file:
    pickle.dump(geo_encoder,file)

In [13]:
# Split The Data Into Train & Test :
X=df.drop(['EstimatedSalary'],axis=1)
y=df['EstimatedSalary']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=50)
X_train.head(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,France,Germany,Spain
5189,826,1,41,5,146466.46,2,0,0,0,0.0,0.0,1.0
7969,637,1,49,2,108204.52,1,1,0,1,0.0,1.0,0.0
9039,545,0,44,1,0.00,2,1,1,0,0.0,0.0,1.0
5208,779,0,38,7,0.00,2,1,1,0,0.0,0.0,1.0
506,691,1,30,7,116927.89,1,1,0,0,0.0,1.0,0.0

In [14]:
# Standardization (or z-score normalization) The Features Data :
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# Convert the standardized data back to a pandas DataFrame Just For See The Data :
x=pd.DataFrame(X_train,columns=X.columns)
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,France,Germany,Spain
0,1.824583,0.903490,0.219906,-0.002572,1.129181,0.809267,-1.540615,-1.029875,-0.508468,-1.006018,-0.576470,1.743341
1,-0.122525,0.903490,0.989046,-1.041284,0.516851,-0.913102,0.649092,-1.029875,1.966691,-1.006018,1.734694,-0.573611
2,-1.070324,-1.106819,0.508333,-1.387521,-1.214815,0.809267,0.649092,0.970992,-0.508468,-1.006018,-0.576470,1.743341
3,1.340382,-1.106819,-0.068522,0.689902,-1.214815,0.809267,0.649092,0.970992,-0.508468,-1.006018,-0.576470,1.743341
4,0.433792,0.903490,-0.837663,0.689902,0.656456,-0.913102,0.649092,-1.029875,-0.508468,-1.006018,1.734694,-0.573611
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.907691,-1.106819,-0.549235,-0.348809,-1.214815,0.809267,0.649092,-1.029875,-0.508468,0.994018,-0.576470,-0.573611
6996,-1.966612,0.903490,-0.356950,1.382377,1.134207,0.809267,0.649092,0.970992,-0.508468,-1.006018,1.734694,-0.573611
6997,0.052612,0.903490,1.565902,-0.695047,0.185274,-0.913102,0.649092,0.970992,-0.508468,0.994018,-0.576470,-0.573611
6998,-2.615648,-1.106819,-0.453093,-0.002572,0.481756,-0.913102,0.649092,0.970992,1.966691,-1.006018,1.734694,-0.573611
6999,1.412497,0.903490,-0.164665,0.689902,1.440128,0.809267,0.649092,0.970992,-0.508468,0.994018,-0.576470,-0.573611

In [15]:
# Save The StandardScaler Object In Pickle File :
with open('Feature_scaling.pkl','wb') as file:
    pickle.dump(sc,file)

# ANN Implementation

In [7]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.activations import relu
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

from tensorflow.keras.initializers import he_uniform # For Weight Initialization

#from tensorflow.keras.layers import BatchNormalization 
#from tensorflow.keras.regularizers import l2 # For Regularization
#from tensorflow.keras.layers import Dropout # For Regularization

from tensorflow.keras.callbacks import ModelCheckpoint # To Save The Best Model
import datetime

In [16]:
# Model Building :

model=Sequential([
    
    Dense(64,activation=relu,kernel_initializer=he_uniform(), input_dim=(X_train.shape[1])),  # Hidden Layer 1
    
    Dense(32,activation=relu,kernel_initializer=he_uniform()), # Hidden Layer 2 

    Dense(8,activation=relu,kernel_initializer=he_uniform()), # Hidden Layer 3
    
    Dense(4,activation=relu,kernel_initializer=he_uniform()), # Hidden Layer 5 
    
    Dense(2,activation=relu,kernel_initializer=he_uniform()), # Hidden Layer 6 

    Dense(1)   # Output Layer
    
])

e:\Projects\ANN Project\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [17]:
# Model Summary :
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 8)              │           264 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 4)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 2)              │            10 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │             3 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,225 (12.60 KB)

 Trainable params: 3,225 (12.60 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
# Compile The Model :
model.compile(optimizer=Adam(learning_rate=0.01),loss='mean_absolute_error',metrics=['mae'])

In [19]:
# Set Up TensorBoard :
log_dir='logs/fit_Regression'+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [20]:
# Set Up Early Stopping :
early_stop=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [21]:
# Train The Model :
model.fit(X_train,y_train,
          validation_data=(X_test,y_test),
          epochs=500,batch_size=32,
          callbacks=[tensorboard_callback,early_stop])

Epoch 1/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 5s 9ms/step - loss: 80251.4531 - mae: 80251.4531 - val_loss: 50313.9023 - val_mae: 50313.9023
Epoch 2/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50493.3945 - mae: 50493.3945 - val_loss: 50903.9961 - val_mae: 50903.9961
Epoch 3/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50823.6562 - mae: 50823.6562 - val_loss: 50651.0508 - val_mae: 50651.0508
Epoch 4/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50418.0664 - mae: 50418.0664 - val_loss: 50176.9297 - val_mae: 50176.9297
Epoch 5/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49425.3555 - mae: 49425.3555 - val_loss: 50422.0547 - val_mae: 50422.0547
Epoch 6/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49718.1875 - mae: 49718.1875 - val_loss: 50239.1133 - val_mae: 50239.1133
Epoch 7/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50125.7812 - mae: 50125.7812 - val_loss: 50459.6094 - val_mae: 50459.6094
Epoch 8/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49712.3008 - mae: 49712.3008 - val_loss: 50393.9688 - val_mae: 50393.9688
Epoch 9/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49256.1406 - mae: 49256.1406 - val_loss: 50276.0859 - val_mae: 50276.0859
Epoch 10/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49601.9062 - mae: 49601.9062 - val_loss: 50840.8516 - val_mae: 50840.8516
Epoch 11/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49750.7070 - mae: 49750.7070 - val_loss: 50254.2031 - val_mae: 50254.2031
Epoch 12/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49094.9766 - mae: 49094.9766 - val_loss: 50266.7773 - val_mae: 50266.7773
Epoch 13/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49625.1133 - mae: 49625.1133 - val_loss: 50340.2305 - val_mae: 50340.2305
Epoch 14/500
219/219 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49442.0000 - mae: 49442.0000 - val_loss: 50273.8789 - val_mae: 50273.8789

In [22]:
# Save The Model :
model.save('ANN_regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [23]:
# Lode The TensorBoard :
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [5]:
%tensorboard --logdir logs/fit_Regression20250123-144632

Reusing TensorBoard on port 6007 (pid 7564), started 0:13:21 ago. (Use '!kill 7564' to kill it.)

In [27]:
# Model Evaluation :
test_loss, test_mae=model.evaluate(X_test,y_test)
print('Test Data Mean Absolute Error :',test_loss)

94/94 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49687.5664 - mae: 49687.5664
Test Data Mean Absolute Error : 50176.9296875